<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('templates/nav.ejs') %> 
    <h1>Bienvenidos a la Api de Disney</h1>
</body>
</html>