<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head.ejs') %>
    <title>Usuarios</title>
</head>
<body>
    <%- include('templates/nav.ejs') %> 
    <h1>Seccion de usuarios</h1>
    <a href="http://localhost:4000/disney/auth/signUp">Sign Up</a>
    <a href="http://localhost:4000/disney/auth/signIn">Sign In</a>
    <!-- <a href="http://localhost:4000/disney/auth">Usuarios</a> -->
</body>
</html>