<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar__logo" href="http://localhost:4000/disney">
                        App de Disney
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item navbar__nav-item">
                                <a class="nav-link" href="http://localhost:4000/disney/characters">Personajes</a>
                            </li>
                            <li class="nav-item navbar__nav-item">
                                <a class="nav-link" href="http://localhost:4000/disney/movies">Peliculas</a>
                            </li>
                            <li class="nav-item navbar__nav-item">
                                <a class="nav-link" href="http://localhost:4000/disney/auth">Usuarios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>